/.vs
/WebApi/obj/Debug
/WebApi/obj/Release

/.vs/CAX-Solution/v14/.suo
/bin
/obj
/Web.Config
/Web.Debug.config
/Web.Release.config
/.vs/CAX-Solution/v14/
/.vs/Config
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/WebApi/Web.config
/WebApi/Web.config
/WebApi/WebApp.csproj
/WebApi/WebApp.csproj.user
/WebApi/bin/WebApi.dll
/WebApi/bin/WebApi.dll.config
/WebApi/bin/WebApi.pdb
/WebApi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WebApi/obj/Debug/WebApi.Migrations.First.resources
/WebApi/obj/Debug/WebApi.dll
/WebApi/obj/Debug/WebApi.pdb
/WebApi/obj/Debug/WebApp.csproj.FileListAbsolute.txt
/WebApi/obj/Debug/WebApp.csproj.GenerateResource.Cache
/WebApi/packages.config
/packages/Microsoft.Net.Compilers.2.10.0/.signature.p7s
/packages/Microsoft.Net.Compilers.2.10.0/Microsoft.Net.Compilers.2.10.0.nupkg
/packages/Microsoft.Net.Compilers.2.10.0/ThirdPartyNotices.rtf
/packages/Microsoft.Net.Compilers.2.10.0/build/Microsoft.Net.Compilers.props
/packages/Microsoft.Net.Compilers.2.10.0/tools/Microsoft.Build.Tasks.CodeAnalysis.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/Microsoft.CSharp.Core.targets
/packages/Microsoft.Net.Compilers.2.10.0/tools/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/Microsoft.CodeAnalysis.CSharp.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/Microsoft.CodeAnalysis.Scripting.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/Microsoft.CodeAnalysis.VisualBasic.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/Microsoft.CodeAnalysis.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/Microsoft.DiaSymReader.Native.amd64.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/Microsoft.DiaSymReader.Native.x86.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/Microsoft.Managed.Core.targets
/packages/Microsoft.Net.Compilers.2.10.0/tools/Microsoft.VisualBasic.Core.targets
/packages/Microsoft.Net.Compilers.2.10.0/tools/Microsoft.Win32.Primitives.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/System.AppContext.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/System.Collections.Immutable.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/System.Console.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/System.Diagnostics.DiagnosticSource.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/System.Diagnostics.FileVersionInfo.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/System.Diagnostics.StackTrace.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/System.Globalization.Calendars.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/System.IO.Compression.ZipFile.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/System.IO.Compression.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/System.IO.FileSystem.Primitives.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/System.IO.FileSystem.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/System.Net.Http.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/System.Net.Sockets.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/System.Reflection.Metadata.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/System.Runtime.InteropServices.RuntimeInformation.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/System.Security.Cryptography.Algorithms.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/System.Security.Cryptography.Encoding.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/System.Security.Cryptography.Primitives.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/System.Security.Cryptography.X509Certificates.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/System.Text.Encoding.CodePages.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/System.Threading.Tasks.Extensions.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/System.ValueTuple.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/System.Xml.ReaderWriter.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/System.Xml.XPath.XDocument.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/System.Xml.XPath.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/System.Xml.XmlDocument.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/VBCSCompiler.exe
/packages/Microsoft.Net.Compilers.2.10.0/tools/VBCSCompiler.exe.config
/packages/Microsoft.Net.Compilers.2.10.0/tools/cs/Microsoft.Build.Tasks.CodeAnalysis.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/cs/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/cs/Microsoft.CodeAnalysis.Scripting.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/cs/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/cs/Microsoft.CodeAnalysis.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/csc.exe
/packages/Microsoft.Net.Compilers.2.10.0/tools/csc.exe.config
/packages/Microsoft.Net.Compilers.2.10.0/tools/csc.rsp
/packages/Microsoft.Net.Compilers.2.10.0/tools/csi.exe
/packages/Microsoft.Net.Compilers.2.10.0/tools/csi.exe.config
/packages/Microsoft.Net.Compilers.2.10.0/tools/csi.rsp
/packages/Microsoft.Net.Compilers.2.10.0/tools/de/Microsoft.Build.Tasks.CodeAnalysis.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/de/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/de/Microsoft.CodeAnalysis.Scripting.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/de/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/de/Microsoft.CodeAnalysis.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/es/Microsoft.Build.Tasks.CodeAnalysis.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/es/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/es/Microsoft.CodeAnalysis.Scripting.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/es/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/es/Microsoft.CodeAnalysis.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/fr/Microsoft.Build.Tasks.CodeAnalysis.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/fr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/fr/Microsoft.CodeAnalysis.Scripting.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/fr/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/fr/Microsoft.CodeAnalysis.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/it/Microsoft.Build.Tasks.CodeAnalysis.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/it/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/it/Microsoft.CodeAnalysis.Scripting.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/it/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/it/Microsoft.CodeAnalysis.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/ja/Microsoft.Build.Tasks.CodeAnalysis.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/ja/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/ja/Microsoft.CodeAnalysis.Scripting.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/ja/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/ja/Microsoft.CodeAnalysis.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/ko/Microsoft.Build.Tasks.CodeAnalysis.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/ko/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/ko/Microsoft.CodeAnalysis.Scripting.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/ko/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/ko/Microsoft.CodeAnalysis.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/pl/Microsoft.Build.Tasks.CodeAnalysis.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/pl/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/pl/Microsoft.CodeAnalysis.Scripting.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/pl/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/pl/Microsoft.CodeAnalysis.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/pt-BR/Microsoft.Build.Tasks.CodeAnalysis.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/pt-BR/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/pt-BR/Microsoft.CodeAnalysis.Scripting.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/pt-BR/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/pt-BR/Microsoft.CodeAnalysis.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/ru/Microsoft.Build.Tasks.CodeAnalysis.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/ru/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/ru/Microsoft.CodeAnalysis.Scripting.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/ru/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/ru/Microsoft.CodeAnalysis.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/tr/Microsoft.Build.Tasks.CodeAnalysis.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/tr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/tr/Microsoft.CodeAnalysis.Scripting.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/tr/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/tr/Microsoft.CodeAnalysis.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/vbc.exe
/packages/Microsoft.Net.Compilers.2.10.0/tools/vbc.exe.config
/packages/Microsoft.Net.Compilers.2.10.0/tools/vbc.rsp
/packages/Microsoft.Net.Compilers.2.10.0/tools/zh-Hans/Microsoft.Build.Tasks.CodeAnalysis.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/zh-Hans/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/zh-Hans/Microsoft.CodeAnalysis.Scripting.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/zh-Hant/Microsoft.Build.Tasks.CodeAnalysis.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/zh-Hant/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/zh-Hant/Microsoft.CodeAnalysis.Scripting.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/packages/Microsoft.Net.Compilers.2.10.0/tools/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/WebApi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WebApi/Web.config
/WebApi/WebApp.csproj
/WebApi/bin/WebApi.dll
/WebApi/bin/WebApi.dll.config
/WebApi/bin/WebApi.pdb
/WebApi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WebApi/obj/Debug/WebApi.dll
/WebApi/obj/Debug/WebApi.pdb
/WebApi/obj/Debug/WebApp.csproj.FileListAbsolute.txt
