
@{
    ViewBag.Title = "AddParty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="background-color:dimgrey;height:550px;">
    <div class="col-lg-8">
        <img style="margin-top: 35%;border: groove;margin-left:25%;"src="~/assets/img/cax1.jpg" alt="" />
    </div>
</div>