
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<div class="row" style="background-color:dimgrey;height:650px;" ng-controller="FrmlClt">
   <div style="margin-top: 12%;">

       <div style="background-color:#a72525eb;width: 64%;margin-left: 18%;color:white;height: 460px;">
           <h2 style="font-size: initial;text-align: center;padding-top: 2%;font-weight: 800;text-decoration: underline;">View Reports</h2>
           <ul class="nav nav-tabs row" style="width: 98%;margin-left: 1%;">
               <li class="active"><a href="#home" style="font-size: initial;font-weight: 800;">CN Info</a></li>
               <li><a href="#menu1" style="font-size: initial;font-weight: 800;">Sales Info</a></li>
               <li><a href="#menu2" style="font-size: initial;font-weight: 800;">Bill Info</a></li>
               <li><a href="#menu3" style="font-size: initial;font-weight: 800;">Party Report</a></li>
           </ul>

           <div class="tab-content">
               <div id="home" class="tab-pane fade in active">
                  <div class="row" style="margin-top: 4%;">
                    <div class="form-group" style="margin-bottom: 8%;">
                        <div class="col-md-4 label" style="text-align: right;font-size: large;font-weight: 800;">
                            Date :
                        </div>
                        <div class="col-md-6">
                            <input autocomplete="off" ng-model="CNInfo.Date" type="text" id="datepicker1"  class="form-control" />
                        </div>
                    </div>
                     <div class="form-group"  style="margin-bottom: 5%;">
                         <div class="col-md-4 label" style="text-align: right;font-size: large;font-weight: 800;">
                             Destination :
                         </div>
                         <div class="col-md-6">
                             <select class="form-control" name="UserName" ng-model="CNInfo.DestinationId" data-show-subtext="true" data-live-search="true" required>
                                 <option value="" data-subtext="">Select Destination</option>
                                 <option ng-repeat="dest in DestinationList" value="{{dest.DestinationId}}" data-subtext="{{dest.Area}}">{{dest.District}}->{{dest.Area}}</option>
                             </select>
                         </div>
                     </div>
                      <div class="form-group" style="margin-bottom: 5%;">
                          <div class="col-md-12" style="margin-top: 5%;margin-bottom: 2%;text-align: center;font-weight: 800;">
                              <a class="btn btn-default" ng-click="CNUserEntryReport()" href="#" style="font-weight: 800;color: white;width: 50%;background-color: rgb(32, 212, 126);">User Entry Report</a>
                          </div>
                      </div>
                      <div class="form-group" style="margin-bottom: 5%;">
                          <div class="col-md-6" style="text-align: right;font-weight: 800;">
                              <a class="btn btn-default green" ng-click="CNFullManifest()" href="#" style="font-weight: 800;color: white;width: 80%;background-color: rgb(32, 212, 126);">Full Menifest</a>
                          </div>
                          <div class="col-md-6" style="text-align: left;font-weight: 800;">
                              <a class="btn btn-default green" ng-click="CNPartManifest()" href="#" style="font-weight: 800;color: white;width: 80%;background-color: rgb(32, 212, 126);">Part Menifest</a>
                          </div>
                      </div>
                     
                  </div>
               </div>
               <div id="menu1" class="tab-pane fade">
                   <div class="row" style="margin-top: 4%;">
                       <div class="form-group" style="margin-bottom: 8%;">
                           <div class="col-md-4 label" style="text-align: right;font-size: x-large;font-weight: 800;">
                               Date :
                           </div>
                           <div class="col-md-6">
                               <input autocomplete="off" type="text" ng-model="Sale.Date" id="datepicker2" class="form-control" />
                           </div>
                       </div>
                       <div class="form-group" style="margin-bottom: 5%;">
                           <div class="col-md-4 label" style="text-align: right;font-size: x-large;font-weight: 800;">
                               SPO Name :
                           </div>
                           <div class="col-md-6">
                               <input ng-model="Sale.SPOName" class="form-control" />
                           </div>
                          
                       </div>
                       <div class="form-group" style="margin-bottom: 5%;">
                           <div class="col-md-12" style="margin-top: 5%;margin-bottom: 2%;text-align: center;font-size: x-large;font-weight: 800;">
                               <a class="btn btn-default" ng-click="SaleDailyTotal()" href="#" style="font-weight: 800;color: white;width: 50%;background-color: rgb(32, 212, 126);">Daily Sales Report In Total</a>
                           </div>
                       </div>
                       <div class="form-group" style="margin-bottom: 5%;">
                           <div class="col-md-6" style="text-align: right;font-size: x-large;font-weight: 800;">
                               <a class="btn btn-default green" ng-click="SaleSPOReport()" href="#" style="font-weight: 800;color: white;width: 80%;background-color: rgb(32, 212, 126);">SPO Sales Report</a>
                           </div>
                           <div class="col-md-6" style="text-align: left;font-size: x-large;font-weight: 800;">
                               <a class="btn btn-default green" ng-click="SaleSPOTotalReport()" href="#" style="font-weight: 800;color: white;width: 80%;background-color: rgb(32, 212, 126);">SPO Sales Report In Total</a>
                           </div>
                       </div>
                   </div>
               </div>
               <div id="menu2" class="tab-pane fade">
                   <div class="row" style="margin-top: 4%;">
                       <div class="form-group" style="margin-bottom: 8%;">
                           <div class="col-md-4 label" style="text-align: right;font-size: x-large;font-weight: 800;">
                               Date :
                           </div>
                           <div class="col-md-6">
                               <input autocomplete="off" ng-model="Bill.Date" type="text" id="datepicker3" class="form-control" />
                           </div>
                       </div>

                       <div class="form-group" style="margin-bottom: 5%;">
                           <div class="col-md-4 label" style="text-align: right;font-size: x-large;font-weight: 800;">
                               Party Name :
                           </div>
                           <div class="col-md-6">
                               <select id="PartyName" class="form-control" name="PartyName" ng-model="Bill.PartyId" data-show-subtext="false" data-live-search="true" required>
                                   <option value="" data-subtext="">Select Party</option>
                                   <option ng-repeat="party in PartyList" value="{{party.PartyInfoId}}" data-subtext="">{{party.Name}}</option>
                               </select>
                           </div>
                       </div>
                   </div>
                   <div class="row" style="margin-top: 3%;">
                       <div class="form-group" style="margin-bottom: 8%;">
                           <div class="col-md-4 label" style="text-align: right;font-size: x-large;font-weight: 800;">
                               CN / Item Type :
                           </div>
                           <div class="col-md-6">
                               <input class="form-control" ng-model="Bill.CNType"/>
                           </div>
                       </div>

                       <div class="form-group" style="margin-bottom: 14%;">
                           <div class="col-md-4 label" style="text-align: right;font-size: x-large;font-weight: 800;">
                              Discount :
                           </div>
                           <div class="col-md-6">
                               <input class="form-control" ng-model="Bill.Discount"/>
                           </div>
                       </div>

                       <table class="table table-borderless" style="width: 92%;margin-left: 5%;">
                           <tr>
                               <td style="text-align: right;">
                                   <a class="btn btn-default green" ng-click="BillMonthly()" href="#" style="width: 88%;font-weight: 800;color: white;background-color: rgb(32, 212, 126);">Monthly Bill</a>
                               </td>
                               <td>
                                   <a class="btn btn-default green" ng-click="BillMonthlyDetails()" href="#" style="width: 62%;font-weight: 800;color: white;background-color: rgb(32, 212, 126);">Monthly Bill Details</a>
                               </td>
                           </tr>
                       </table>
                       
                   </div>
                </div>
               <div id="menu3" class="tab-pane fade">
                   <div class="row" style="margin-top: 4%;">
                       <div class="form-group" style="margin-bottom: 8%;">
                           <div class="col-md-4 label" style="text-align: right;font-size: x-large;font-weight: 800;">
                               Date :
                           </div>
                           <div class="col-md-6">
                               <input autocomplete="off" ng-model="Party.Date" type="text" id="datepicker4" class="form-control" />
                           </div>
                       </div>

                       <div class="form-group" style="margin-bottom: 5%;">
                           <div class="col-md-4 label" style="text-align: right;font-size: x-large;font-weight: 800;">
                               Party Name :
                           </div>
                           <div class="col-md-6">
                               <select id="PartyName" class="form-control"  name="PartyName" ng-model="Party.PartyId" data-show-subtext="false" data-live-search="true" required>
                                   <option value="" data-subtext="">Select Party</option>
                                   <option ng-repeat="party in PartyList" value="{{party.PartyInfoId}}" data-subtext="">{{party.Name}}</option>
                               </select>
                           </div>
                       </div>
                   </div>
                   <div class="row" style="margin-top: 3%;">
                       <div class="form-group" style="margin-bottom: 6%;">
                           <div class="col-md-4 label" style="text-align: right;font-size: x-large;font-weight: 800;">
                              Update Status :
                           </div>
                           <div class="col-md-6">
                               <input class="form-control" ng-model="Party.UpdateStatus" />
                           </div>
                       </div>

                       <table class="table table-borderless" style="width: 92%;margin-left: 5%;">
                           <tr>
                               <td style="text-align: right;">
                                   <a class="btn btn-default green" ng-click="PartyFolioReport()" href="#" style="width: 60%;font-weight: 800;color: white;background-color: rgb(32, 212, 126);">Follio Report By Party</a>
                               </td>
                               <td>
                                   <a class="btn btn-default green" ng-click="PartyShipperCopy()" href="#" style="width: 60%;font-weight: 800;color: white;background-color: rgb(32, 212, 126);">Shipper Copy Report</a>
                               </td>
                           </tr>
                           <tr>
                               <td style="text-align: right;">
                                   <a class="btn btn-default green" ng-click="PartyNonUpdateReport()" href="#" style="width: 60%;font-weight: 800;color: white;background-color: rgb(32, 212, 126);">Non Update Report</a>
                               </td>
                               <td>
                                   <a class="btn btn-default green" ng-click="PartyUpdateReport()" href="#" style="width: 60%;font-weight: 800;color: white;background-color: rgb(32, 212, 126);">Update Report</a>
                               </td>
                           </tr>
                       </table>

                   </div>
               </div>
           </div>
       </div>


   </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $("#datepicker1").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'd MM, y',
        maxDate: 'today'
    });
    $("#datepicker2").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'MM yy',
        maxDate: 'today'
    });
    $("#datepicker3").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'd MM, y',
        maxDate: 'today'
    });
    $("#datepicker4").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'd MM, y',
        maxDate: 'today'
    });
});
</script>
<script>
$(document).ready(function(){
  $(".nav-tabs a").click(function(){
    $(this).tab('show');
  });
});
</script>
<script>
        CNApp.controller('FrmlClt', function ($scope, $http, DTOptionsBuilder, DTColumnBuilder) {
            init();
            function init() {
                initialize();
                LoadPartyList();
                LoadDestinationList();
            }

            function initialize() {
                $scope.vm = {};
                $scope.vm.dtOptions = DTOptionsBuilder.newOptions()
                  .withOption('order', [0, 'asc']);
                $scope.Party = {};
                $scope.Bill = {};
                $scope.Sale = {};
                $scope.CNInfo = {};
            }


            //party report
            $scope.PartyFolioReport = function () {
                if ($scope.Party.Date == null || $scope.Party.Date == '') {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.warning('Select date please.');
                    return;
                }
                if ($scope.Party.PartyId == null || $scope.Party.PartyId == '') {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.warning('Select party name please.');
                    return;
                }
                if ($scope.Party.UpdateStatus == null || $scope.Party.UpdateStatus == '') {
                    $scope.Party.UpdateStatus = 'N/A';
                }
                window.open('/Report/PartyFolioReport?PartyDate=' + $scope.Party.Date + '&PartyId=' + $scope.Party.PartyId + '&UpdateStatus=' + $scope.Party.UpdateStatus, '_blank');
            }
            $scope.PartyShipperCopy = function () {
                if ($scope.Party.Date == null || $scope.Party.Date == '') {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.warning('Select date please.');
                    return;
                }
                if ($scope.Party.PartyId == null || $scope.Party.PartyId == '') {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.warning('Select party name please.');
                    return;
                }
                if ($scope.Party.UpdateStatus == null || $scope.Party.UpdateStatus == '') {
                    $scope.Party.UpdateStatus = 'N/A';
                }
                window.open('/Report/PartyShipperCopy?PartyDate=' + $scope.Party.Date + '&PartyId=' + $scope.Party.PartyId + '&UpdateStatus=' + $scope.Party.UpdateStatus, '_blank');
            }
            $scope.PartyNonUpdateReport = function () {
                if ($scope.Party.Date == null || $scope.Party.Date == '') {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.warning('Select date please.');
                    return;
                }
                if ($scope.Party.PartyId == null || $scope.Party.PartyId == '') {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.warning('Select party name please.');
                    return;
                }
                if ($scope.Party.UpdateStatus == null || $scope.Party.UpdateStatus == '') {
                    $scope.Party.UpdateStatus = 'N/A';
                }
                window.open('/Report/PartyNonUpdateReport?PartyDate=' + $scope.Party.Date + '&PartyId=' + $scope.Party.PartyId + '&UpdateStatus=' + $scope.Party.UpdateStatus, '_blank');
            }
            $scope.PartyUpdateReport = function () {
                if ($scope.Party.Date == null || $scope.Party.Date == '') {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.warning('Select date please.');
                    return;
                }
                if ($scope.Party.PartyId == null || $scope.Party.PartyId == '') {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.warning('Select party name please.');
                    return;
                }
                if ($scope.Party.UpdateStatus == null || $scope.Party.UpdateStatus == '') {
                    $scope.Party.UpdateStatus = 'N/A';
                }
                $window.open('/Report/PartyUpdateReport?PartyDate=' + $scope.Party.Date + '&PartyId=' + $scope.Party.PartyId + '&UpdateStatus=' + $scope.Party.UpdateStatus, '_blank');
            }
            //Bill info
            $scope.BillMonthly = function () {
                if ($scope.Bill.Date == undefined || $scope.Bill.Date == '') {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.warning('Select date please.');
                    return;
                }
                if ($scope.Bill.PartyId == undefined || $scope.Bill.PartyId == '') {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.warning('Select party name please.');
                    return;
                }
                if ($scope.Bill.CNType == undefined || $scope.Bill.CNType == '') {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.warning('Select CN type.');
                    return;
                }
                if ($scope.Bill.Discount == null || $scope.Bill.Discount == '') {
                    $scope.Bill.Discount = 0;
                }
                window.open('/Report/BillMonthly?BillDate=' + $scope.Bill.Date + '&PartyId=' + $scope.Bill.PartyId + '&CNType=' + $scope.Bill.CNType + '&Discount=' + $scope.Bill.Discount, '_blank');
            }
            $scope.BillMonthlyDetails = function () {
                if ($scope.Bill.Date == undefined || $scope.Bill.Date == '') {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.warning('Select date please.');
                    return;
                }
                if ($scope.Bill.PartyId == undefined || $scope.Bill.PartyId == '') {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.warning('Select party name please.');
                    return;
                }
                if ($scope.Bill.CNType == undefined || $scope.Bill.CNType == '') {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.warning('Select CN type.');
                    return;
                }
                if ($scope.Bill.Discount == null || $scope.Bill.Discount=='') {
                    $scope.Bill.Discount = 0;
                }
                window.open('/Report/BillMonthlyDetails?BillDate=' + $scope.Bill.Date + '&PartyId=' + $scope.Bill.PartyId + '&CNType=' + $scope.Bill.CNType + '&Discount=' + $scope.Bill.Discount, '_blank');
            }
           //sales info
            $scope.SaleDailyTotal = function () {
                if ($scope.Sale.Date == undefined || $scope.Sale.Date == '') {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.warning('Select date please.');
                    return;
                }
                if ($scope.Sale.SPOName == undefined || $scope.Sale.SPOName == '') {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.warning('Select SPO name please.');
                    return;
                }
                window.open('/Report/SaleDailyTotal?SaleDate=' + $scope.Sale.Date + '&SaleSOPName=' + $scope.Sale.SPOName, '_blank');
            }
            $scope.SaleSPOReport = function () {
                if ($scope.Sale.Date == undefined || $scope.Sale.Date == '') {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.warning('Select date please.');
                    return;
                }
                if ($scope.Sale.SPOName == undefined || $scope.Sale.SPOName == '') {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.warning('Select SPO name please.');
                    return;
                }
                window.open('/Report/SaleSPOReport?SaleDate=' + $scope.Sale.Date + '&SaleSOPName=' + $scope.Sale.SPOName, '_blank');
            }
            $scope.SaleSPOTotalReport = function () {
                if ($scope.Sale.Date == undefined || $scope.Sale.Date == '') {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.warning('Select date please.');
                    return;
                }
                if ($scope.Sale.SPOName == undefined || $scope.Sale.SPOName == '') {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.warning('Select SPO name please.');
                    return;
                }
                window.open('/Report/SaleSPOTotalReport?SaleDate=' + $scope.Sale.Date + '&SaleSOPName=' + $scope.Sale.SPOName, '_blank');
            }
            //cn info
            $scope.CNUserEntryReport =function()
            {
                if ($scope.CNInfo.Date == undefined || $scope.CNInfo.Date == '') {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.warning('Select date please.');
                    return;
                }
                if ($scope.CNInfo.DestinationId == undefined || $scope.CNInfo.DestinationId == '') {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.warning('Select destination please.');
                    return;
                }
                window.open('/Report/CNUserEntryReport?CNDate=' + $scope.CNInfo.Date + '&CNDestination=' + $scope.CNInfo.DestinationId, '_blank');
            }

            $scope.CNFullManifest = function()
            {
                if ($scope.CNInfo.Date == undefined || $scope.CNInfo.Date == '') {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.warning('Select date please.');
                    return;
                }
                if ($scope.CNInfo.DestinationId == undefined || $scope.CNInfo.DestinationId == '') {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.warning('Select date please.');
                    return;
                }
                window.open('/Report/CNFullManifest?CNDate=' + $scope.CNInfo.Date + '&CNDestination=' + $scope.CNInfo.DestinationId, '_blank');
            }

            $scope.CNPartManifest = function()
            {
                if ($scope.CNInfo.Date == undefined || $scope.CNInfo.Date == '') {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.warning('Select date please.');
                    return;
                }
                if ($scope.CNInfo.DestinationId == undefined || $scope.CNInfo.DestinationId == '') {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.warning('Select date please.');
                    return;
                }
                window.open('/Report/CNPartManifest?CNDate=' + $scope.CNInfo.Date + '&CNDestination=' + $scope.CNInfo.DestinationId, '_blank');
            }

            $scope.DateConvert = function DateConvert(str) {
                var re = /\/Date\(([0-9]*)\)\//;
                var m = str.match(re);
                var dt =new Date(parseInt(m[1]));
                var date = new Date(dt),
                    mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                    day = ("0" + date.getDate()).slice(-2);
                return new Date([date.getFullYear(), mnth, day].join("-"));
            }         
            function LoadDestinationList() {
                $http.get("/api/Destinations")
                       .then(function successCallback(response) {
                           $scope.DestinationList = response.data;
                           toastr.options.positionClass = 'toast-bottom-right';
                       }, function errorCallback(response) {
                           //error msg
                       });
            }
            function LoadPartyList() {
                $http.get("/api/PartyInfoes")
                       .then(function successCallback(response) {
                           $scope.PartyList = response.data;
                           toastr.options.positionClass = 'toast-bottom-right';
                       }, function errorCallback(response) {
                       });
            }
        });
</script>